# Database credentials
flyway.url=jdbc:postgresql://localhost:5432/postgres
flyway.user=postgres
flyway.password=postgres

# Database migrations
flyway.locations=classpath:db/migration

# Auth
jwt.secret=secret

# CORS (for frontend SPAs)
cors.allowed-origins=http://localhost:4200
